<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" lang="ES">
<h:head>
	<title>POLICIA NACIONAL</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta name="title" content="POLICIA NACIONAL" />
	<meta name="description" content="POLICIA NACIONAL" />
	<meta name="keywords" content="POLICIA NACIONAL" />
	<meta name="language" content="es" />
	<meta name="subject" content="POLICIA NACIONAL" />
	<meta name="robots" content="All" />
	<meta name="copyright"
		content="http://about.me/cristto.tolosa/below/backstory" />
	<meta name="abstract" content="POLICIA NACIONAL" />
	<meta name="MSSmartTagsPreventParsing" content="true" />

	<!-- INCLUSION -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<link href="#{request.contextPath}/resources/css/bootstrap.min.css"
		rel="stylesheet" media="screen"></link>
	<link href="#{request.contextPath}/resources/css/screen.css"
		rel="stylesheet"></link>
	<link href="#{request.contextPath}/resources/css/material.min.css"
		rel="stylesheet"></link>
	<script src="#{request.contextPath}/resources/js/jquery-1.12.2.min.js"></script>
	<script src="#{request.contextPath}/resources/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function() {
			$('.carousel').carousel()
		});
		$(document).ready(function() {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>
	<!-- INCLUSION -->

	<!-- add code here that should appear in the document head -->

</h:head>
<h:body>
	<div class="cuerpo">
		<!-- INCLUSION -->
		<div id="contenedor">
			<div id="banner" class="carousel slide">
				<ol class="carousel-indicators">
					<li data-target="#banner" data-slide-to="0" class="active"></li>
					<li data-target="#banner" data-slide-to="1"></li>
					<li data-target="#banner" data-slide-to="2"></li>
					<li data-target="#banner" data-slide-to="3"></li>
				</ol>
				<div class="carousel-inner">
					<div class="active item">
						<img src="#{request.contextPath}/resources/images/banner_1.jpg"
							alt="banner1" />
						<div class="carousel-caption">
							<h3 class="tituloAplicacion">Aplicativo de b&uacute;squeda y
								an&aacute;lisis para</h3>
							<h3 class="tituloAplicacion">la Polic&iacute;a Nacional
								sobre las</h3>
							<h3 class="tituloAplicacion">investigaciones acerca de la
								Marihuana</h3>
						</div>
					</div>
					<div class="item">
						<img src="#{request.contextPath}/resources/images/banner_2.jpg"
							alt="banner2" />
					</div>
					<div class="item">
						<img src="#{request.contextPath}/resources/images/banner_3.jpg"
							alt="banner3" />
					</div>
					<div class="item">
						<img src="#{request.contextPath}/resources/images/banner_4.jpg"
							alt="banner4" />
					</div>
				</div>
				<!-- Carousel nav -->
				<a class="carousel-control left" href="#banner" data-slide="prev"></a>
				<a class="carousel-control right" href="#banner" data-slide="next"></a>
			</div>

			<nav> <img class="logo"
				src="#{request.contextPath}/resources/images/escudo_policia_nacional.png" />
			<div class="menu">
				<a href="index.jsf" class="enlace_sencillo">Inicio</a> <a
					href="about.jsf" class="enlace_borde">Qui&eacute;nes somos</a>
			</div>

			<!--  search --> <ui:insert name="search">
			</ui:insert></nav>

			<!--  categories -->
			<ui:insert name="categories">
			</ui:insert>

			<!--  content -->
			<ui:insert name="content">
			</ui:insert>

			<section class="footer">

			<div class="social centrar">
				<span>Comunicaci&oacute;n a trav&eacute;s de redes sociales</span> <a
					href="#" data-toggle="tooltip" data-placement="top"
					title="Facebook"> <img
					src="#{request.contextPath}/resources/images/facebook_logo.png" />
				</a> <a href="#" data-toggle="tooltip" data-placement="top"
					title="Twitter"> <img
					src="#{request.contextPath}/resources/images/twitter_logo.png" />
				</a> <a href="#" data-toggle="tooltip" data-placement="top"
					title="Google Plus"> <img
					src="#{request.contextPath}/resources/images/google_plus_logo.png" />
				</a> <span>o al correo electr&oacute;nico <em>informacion.ayuda@gmail.com</em>
				</span>
			</div>
			</section>
		</div>

		<!-- INCLUSION -->
	</div>
</h:body>
</html>