<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<section class="seccion center" style="padding: 10px;">
		<div class="row">
			<div class="col-sm-4">
				<div class="contenedor_subseccion">
					<img class="img-responsive margin"
						style="width: 200px; margin: 0 auto;"
						src="./resources/images/Miler_Bastidas.jpg" />
					<p class="parrafo_informacion">Miler Makeisen Bastidas Arias,
						naci&oacute; en el municipio de Funes departamento de
						Nari&ntilde;o el 11 de febrero de 1995. Sus padres Flavio Gilberto
						Bastidas Arias y Miriam del Socorro Arias Morales.</p>
					<p class="parrafo_informacion">Realizo sus estudios de primaria
						y secundaria en la instituci&oacute;n Educativa Agropecuaria
						Mariscal Sucre, donde obtuvo el t&iacute;tulo de bachiller en el
						a&ntilde;o 2012; una vez terminado el bachillerato inicio sus
						estudios en el instituto System Plus donde obtuvo el t&iacute;tulo
						como t&eacute;cnico asistente de direcci&oacute;n y
						administraci&oacute;n de negocios en el a&ntilde;o 2013.</p>
					<p class="parrafo_informacion">En el a&ntilde;o 2014
						ingres&oacute; a la Escuela de Cadetes de Polic&iacute;a General
						Francisco de Paula Santander en la actualidad es Alf&eacute;rez de
						la Polic&iacute;a Nacional de Colombia, y adelanta la carrera de
						administraci&oacute;n policial.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="contenedor_subseccion">
					<img class="img-responsive margin"
						style="width: 200px; margin: 0 auto;"
						src="./resources/images/Miguel_Abaunza.jpg" />
					<p class="parrafo_informacion">Luis Miguel Abaunza Diagama,
						naci&oacute; en el municipio de Moniquira departamento de Boyaca
						el 27 de junio de 1994. Sus padres Jorge Abaunza Aguil&oacute;n y
						Amanda Leonor Diagama.</p>
					<p class="parrafo_informacion">Realizo sus estudios de primaria
						y secundaria, en el Colegio Instituto Integrado De Comercio donde
						obtuvo el t&iacute;tulo de bachiller y t&eacute;cnico en registro
						de operaciones contables en convenio con el Sena en el a&ntilde;o
						2011; una vez terminado el bachillerato inicio a prestar servicio
						como auxiliar bachiller en el Municipio de Moniquira,
						Boyac&aacute; donde obtuvo una libreta militar con conducta
						excelente.</p>
					<p class="parrafo_informacion">En el a&ntilde;o 2014
						ingres&oacute; a la Escuela de Cadetes de Polic&iacute;a General
						Francisco de Paula Santander en la actualidad es Alf&eacute;rez de
						la Polic&iacute;a Nacional de Colombia, y adelanta la carrera de
						administraci&oacute;n policial.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="contenedor_subseccion">
					<img class="img-responsive margin"
						style="width: 200px; margin: 0 auto;"
						src="./resources/images/Alexander_Avila.jpg" />
					<p class="parrafo_informacion">Fabi&aacute;n Alexander
						&aacute;vila Sanabria, naci&oacute; en la ciudad de Tunja
						departamento de Boyac&aacute; el 24 de junio de 1992. Sus padres
						Carlos julio &aacute;vila Garc&iacute;a y Nancy Sanabria
						Jim&eacute;nez.</p>
					<p class="parrafo_informacion">Realizo sus estudios de primaria
						y secundaria en el colegio salesiano de Tunja, donde obtuvo el
						t&iacute;tulo de bachiller en el a&ntilde;o 2010; una vez
						terminado el bachillerato inicio sus estudios en el instituto
						t&eacute;cnico Uribesco donde obtuvo el t&iacute;tulo como
						t&eacute;cnico en sistemas en el a&ntilde;o 2011.</p>
					<p class="parrafo_informacion">En el a&ntilde;o 2014
						ingres&oacute; a la Escuela de Cadetes de Polic&iacute;a General
						Francisco de Paula Santander en la actualidad es Alf&eacute;rez de
						la Polic&iacute;a Nacional de Colombia, y adelanta la carrera de
						administraci&oacute;n policial.</p>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>