<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="search">
		<div class="busqueda">
			<h:form>
				<h:inputText class="campo_busqueda"
					value="#{searchController.searchWord}"></h:inputText>
				<h:commandButton class="boton_busqueda" value="Buscar"
					action="#{searchController.findDocuments}"></h:commandButton>
			</h:form>
		</div>
	</ui:define>

	<ui:define name="categories">
		<div class="categorias">
			<ul class="centrar">
				<ui:repeat var="category" value="#{searchController.categoriesList}">
					<li><a href="category.jsf?categoryId=#{category.id}"
						class="enlace_borde" data-toggle="tooltip" data-placement="bottom"
						title="#{category.name}"> <img
							src="#{request.contextPath}/resources/images/#{category.name}.png"
							alt="#{category.name}" />
					</a></li>
				</ui:repeat>
			</ul>
		</div>
	</ui:define>

	<ui:define name="content">
		<section class="seccion">
		<div class="contenedor_seccion centrar">
			<span class="titulo_subseccion">#{categorySelected.name}</span>
			<p class="parrafo_informacion centrar">#{categorySelected.description}</p>
			<div class="lista_archivo">
				<ul>
					<ui:repeat var="document" value="#{categorySelected.documents}">
						<h:form>
							<h:link id="selectedDocument" value="#{document.title}"
								outcome="document" target="_blank">
								<f:param name="selectedDocument" value="#{document.path}" />
							</h:link>
						</h:form>
					</ui:repeat>
				</ul>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>