<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="content">
		<section class="seccion centrar" style="padding: 10px;"> <p:media
			value="/report.pdf?path=#{searchController.getPathFromSelectedDoc()}"
			player="pdf" width="900" height="600" /> </section>
	</ui:define>
</ui:composition>
