<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="search">
		<div class="busqueda">
			<h:form>
				<h:inputText class="campo_busqueda"
					value="#{searchController.searchWord}"></h:inputText>
				<h:commandButton class="boton_busqueda" value="Buscar"
					action="#{searchController.findDocuments}"></h:commandButton>
			</h:form>
		</div>
	</ui:define>

	<ui:define name="categories">
		<h:form>
			<div class="categorias">
				<ul class="centrar">
					<ui:repeat var="category"
						value="#{searchController.categoriesList}">
						<li><a href="category.jsf?categoryId=#{category.id}"
							class="enlace_borde" data-toggle="tooltip"
							data-placement="bottom" title="#{category.name}"> <img
								src="#{request.contextPath}/resources/images/#{category.name}.png"
								alt="#{category.name}" />
						</a></li>
					</ui:repeat>
				</ul>
			</div>
		</h:form>
	</ui:define>

	<ui:define name="content">
		<section class="seccion">
		<div class="contenedor_seccion centrar">
			<div class="subseccion">
				<div class="contenedor_subseccion centrar">
					<span class="titulo_subseccion">Misi&oacute;n</span>
					<p>La Polic&iacute;a Nacional es un cuerpo armado permanente de
						naturaleza civil, a cargo de la Naci&oacute;n, cuyo fin primordial
						es el mantenimiento de las condiciones necesarias para el
						ejercicio de los derechos y libertades p&uacute;blicas, y para
						asegurar que los habitantes de Colombia convivan en paz.</p>
				</div>
			</div>
			<div class="subseccion">
				<div class="contenedor_subseccion centrar">
					<span class="titulo_subseccion">Visi&oacute;n</span>
					<p>Al a&ntilde;o 2019, la Polic&iacute;a Nacional habr&aacute;
						hecho una contribuci&oacute;n de excepcional valor en la
						convivencia y seguridad ciudadana para la construcci&oacute;n de
						un pa&iacute;s pr&oacute;spero y en paz; soportada en el
						humanismo, la corresponsabilidad y el trabajo cercano a la
						comunidad</p>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
</ui:composition>