<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="search">
		<div class="busqueda">
			<h:form>
				<h:inputText class="campo_busqueda"
					value="#{searchController.searchWord}"></h:inputText>
				<h:commandButton class="boton_busqueda" value="Buscar"
					action="#{searchController.findDocuments}"></h:commandButton>
			</h:form>
		</div>
	</ui:define>

	<ui:define name="content">
		<h:form>
			<h2>Resultados</h2>
			<ui:repeat var="document" value="#{searchController.documentList}"
				varStatus="varStatus">
				<section class="seccion">
				<div class="resultado">
					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp"
						style="width: 100%;">
						<thead>
							<tr>
								<th class="mdl-data-table__cell--non-numeric titulo_resultado"
									style="width: 100%; background-color: #1A571F;"><h:form>
										<h:link id="selectedDocument" value="#{document.title}"
											outcome="document" class="enlace_resultado" target="_blank">
											<f:param name="selectedDocument" value="#{document.path}" />
										</h:link>
									</h:form></th>
							</tr>
						</thead>
					</table>
					<p class="parrafo_informacion centrar">#{document.resume}</p>
				</div>
				</section>
			</ui:repeat>
		</h:form>
	</ui:define>
</ui:composition>