html {
	font-family: sans-serif;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

.cuerpo {
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
	transition-property: all;
	transition-duration: 220ms;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform: scale(1.045) rotate(0.0001deg);
	-moz-transform: scale(1.045) rotate(0.0001deg);
	-ms-transform: scale(1.045) rotate(0.0001deg);
	-o-transform: scale(1.045) rotate(0.0001deg);
	transform: scale(1.045) rotate(0.0001deg);
	background-color: #FFFFFF;
	box-shadow: 12px 16px 31px 12px rgba(0, 0, 0, 0.15);
}

a {
	text-decoration: none;
}

a:active, a:hover {
	outline: 0;
}

p {
	word-wrap: break-word;
}

.tituloAplicacion {
	text-align: left;
}

#contenedor {
	min-width: 300px;
	margin: 0 auto;
	overflow: hidden;
}

#contenedor .item img {
	width: 100%;
	height: 380px;
	min-height: 200px;
	margin: 0 auto;
}

#contenedor nav {
	overflow: hidden;
	background-color: #1A571F; /*#2986BE*/;
	background-size: 380px, contain;
}

.logo {
	padding-left: 50px;
	float: left;
}

.menu {
	padding: 30px;
	display: inline-block;
	float: left;
}

.categorias {
	float: none;
}

.categorias ul {
	list-style-type: none;
	border-bottom: 1px solid #E3E3E3;
}

.categorias ul li {
	list-style-type: none;
	padding: 10px;
	display: inline-block;
}

.categorias ul li a {
	font-weight: 700;
	display: inline-block;
	color: #000000;
	line-height: 34px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: 0 15px;
	box-sizing: border-box;
	opacity: 0.6;
	border: 1px solid #000000;
}

.categorias ul li a:hover {
	opacity: 1;
	-webkit-transform: scale(1.045) rotate(0.0001deg);
	-moz-transform: scale(1.045) rotate(0.0001deg);
	-ms-transform: scale(1.045) rotate(0.0001deg);
	-o-transform: scale(1.045) rotate(0.0001deg);
	transform: scale(1.045) rotate(0.0001deg);
	background-color: #FFFFFF;
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
}

.busqueda {
	padding: 30px;
	width: 100%;
	max-width: 400px;
	display: inline-block;
	float: right;
}

.centrar {
	text-align: center;
}

.campo_busqueda {
	min-width: 150px;
	height: 40px;
	font-weight: 700;
	display: inline-block;
	border: 2px solid #FFFFFF;
	color: #000000;
	line-height: 34px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: 0 25px;
	box-sizing: border-box;
	border: none;
}

.boton_busqueda {
	width: 40px;
	height: 40px;
	font-weight: 700;
	display: inline-block;
	border: 2px solid #FFFFFF;
	background-color: #FFFFFF;
	color: transparent;
	line-height: 34px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: 0 25px;
	box-sizing: border-box;
	background-image: url(../images/search_b.png);
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

.boton_busqueda:hover {
	opacity: 0.6;
}

.enlace_sencillo {
	color: #FFFFFF;
	padding: 0 15px;
}

.enlace_borde {
	font-weight: 700;
	display: inline-block;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	line-height: 34px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: 0 15px;
	box-sizing: border-box;
}

.enlace_borde:hover {
	color: #FFFFFF;
	text-decoration: none;
	opacity: 0.5;
}

.enlace_sencillo:hover {
	color: #FFFFFF;
	text-decoration: none;
	opacity: 0.5;
}

.seccion {
	background-color: #F4F7FA;
	border-bottom: 1px solid #E3E3E3;
	margin-bottom: 50px;
	float: none;
}

.contenedor_seccion {
	max-width: 1024px;
	margin: 0px auto;
	background-position: 49.8%;
	background-repeat: no-repeat;
	background-size: 1px 85%;
	padding: 5px;
}

.subseccion {
	padding-left: 10px;
	padding-right: 10px;
	width: 49.6%;
	display: inline-block;
}

.contenedor_subseccion {
	padding: 36px 20px 54px;
	position: relative;
	transition-property: all;
	transition-duration: 220ms;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.contenedor_subseccion:hover {
	-webkit-transform: scale(1.045) rotate(0.0001deg);
	-moz-transform: scale(1.045) rotate(0.0001deg);
	-ms-transform: scale(1.045) rotate(0.0001deg);
	-o-transform: scale(1.045) rotate(0.0001deg);
	transform: scale(1.045) rotate(0.0001deg);
	background-color: #FFFFFF;
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
}

.titulo_subseccion {
	font-size: 30px;
	line-height: 48px;
	margin-bottom: 0;
	margin-top: 0;
	font-weight: 600;
}

.resultado {
	width: 95%;
	margin: 0: auto;
	padding-left: 50px;
}

.enlace_resultado {
	font-weight: 700;
	display: inline-block;
	color: #FFFFFF;
	line-height: 34px;
	padding: 0 15px;
	font-size: 14px;
}

.enlace_resultado:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.titulo_resultado:hover{
	opacity: 0.8;
}

.footer {
	width: 100%;
	padding: 15px;
}

.parrafo_informacion {
	padding: 30px;
	text-align: justify;
}

.lista_archivo {
	padding-top: 10px;
	padding-left: 40px;
	text-align: left;
}

.lista_archivo a {
	padding: 5px 10px;
	line-height: 30px;
	color: #2DB27C;
	font-size: 14px;
	line-height: 1.2rem;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
}

.lista_archivo ul {
	padding-left: 10px;
}

.lista_archivo ul li {
	padding-bottom: 10px;
}

.lista_archivo a:hover {
	color: #000000;
	text-decoration: underline;
	cursor: pointer;
}

.social {
	padding-left: 30px;
}

.social a {
	text-decoration: none;
}

.social a:hover {
	opacity: 0.8;
}

.social a img {
	width: 70px;
	padding: 10px;
}

.social span {
	font-weight: 500;
	font-size: 12px;
}

.social span em {
	text-decoration: underline;
	font-size: 14px;
}

@media only screen and (max-width: 760px) {
	.categorias {
		float: left;
	}
	.categorias ul {
		border: none;
		padding-right: 15px;
	}
	.categorias ul li {
		display: block;
		padding-left: 5px;
		padding-right: 5px;
	}
	.categorias ul li a {
		display: block;
		padding-left: 5px;
		padding-right: 5px;
	}
	.seccion {
		border: none;
	}
	.contenedor_seccion {
		border: none;
	}
	.footer {
		border-top: 1px solid #E3E3E3;
		float: left;
	}
	.logo, .menu, .busqueda {
		float: none;
		display: inline-block;
	}
	.lista_archivo ul {
		list-style-type: none;
	}
}